extends layout


block content
  div.container
    include tx
    h1=username
    form.form-horizontal(method='post')
      .form-group
        .col-md-5
          input.form-control(type='text', placeholder='用户名' name='username' value="#{username}")
      .form-group
        .col-md-5
          input.form-control(type='password', placeholder='密码' name='password')

      .form-group
        .col-md-offset-0.col-md-5
          button.btn.btn-default(type='submit') Sign in


